.container {
  width: 228px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
  padding: 12px 16px;
  background-color: white;
  border-radius: 6px;
}

.dateContainer {
  display: flex;
  align-items: center;
}

.date {
  margin-left: 8px;
  color: #52515b;
}

.line {
  height: 1px;
  background-color: #51525b;
  margin: 12px 0;
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  height: 16px;
}

.itemName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  line-height: 16px;
  color: #1b1b23;
}

.value {
  font-weight: 600;
  color: #52515b;
}
