.controlsContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin-bottom: 10px;
}

.basicControls {
  display: flex;
  gap: 8px;
}

.variationsSelectContainer {
  position: relative;
}

.variationsSelectValue {
  display: flex;
  justify-content: space-between;
  padding: 6.5px 8px;
  align-items: center;
  border: 1px solid #c7c5d0;
  border-radius: 6px;
}

.openButton {
  border: none;
  background-color: transparent;
}

.closeButton {
  border: none;
  background-color: transparent;
  transform: rotate(180deg);
}

.variationsBox {
  display: flex;
  flex-direction: column;
  padding: 6.5px 8px;
  border: 1px solid #c7c5d0;
  border-radius: 6px;
  gap: 5px;
  position: absolute;
  z-index: 1000;
  background: var(--bg-color);
  width: 100%;
}

.bonusControls {
  display: flex;
  gap: 20px;
}

.lineStyleSelectContainer {
  display: flex;
  justify-content: space-between;
  padding: 6.5px 8px;
  align-items: center;
  border: 1px solid #c7c5d0;
  border-radius: 6px;
  position: relative;
}

.lineStyleBox {
  display: flex;
  flex-direction: column;
  border: 1px solid #c7c5d0;
  border-radius: 6px;
  gap: 5px;
  position: absolute;
  z-index: 1000;
  background: var(--bg-color);
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
}

.styleOption {
  padding: 6.5px 8px;
}

.styleOption:hover {
  cursor: pointer;
}

.download {
  width: 34.5px;
  height: 34.5px;
  border: 1px solid #c7c5d0;
  border-radius: 6px;
  background-color: var(--bg-color);
}
