.container {
  display: flex;
  gap: 8px;
  padding: 6.5px 8px;
  align-items: center;
  border: 1px solid #c7c5d0;
  border-radius: 6px;
}

.openButton {
  border: none;
  background-color: transparent;
}

.closeButton {
  border: none;
  background-color: transparent;
  transform: rotate(180deg);
}
